[package]
name = "recent-messages2"
license = "AGPL-3.0-or-later"
repository = "https://github.com/robotty/recent-messages2"
homepage = "https://recent-messages.robotty.de/"
keywords = ["twitch", "api", "irc", "chat"]
description = "Service to provide historical messages to Twitch chat clients"
categories = ["web-programming"]
readme = "README.md"
version = "0.1.0"
authors = ["Ruben Anders <ruben.anders@robotty.de>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "0.3.1", features = ["full"] }
serde = { version ="1.0.117", features = ["derive"] }
twitch-irc = { version = "0.2.1", features = ["transport-tcp", "metrics-collection"] }
futures = "0.3.7"
toml = "0.5.7"
structopt = "0.3.20"
thiserror = "1.0.21"
log = "0.4.8"
metrics = "0.12.1"
metrics-runtime = "0.13.0"
metrics-observer-prometheus = "0.1.4"
metrics-core = "0.5.2"
warp = { git = "https://github.com/RAnders00/warp", branch = "v023-backports" }
http = "0.2.1"
hyper = "0.13.8"
chrono = { version = "0.4.19", features = ["serde"] }
serde_json = "1.0.59"
itertools = "0.9.0"
humantime-serde = "1.0.1"
refinery = { version = "0.4.0", features = ["tokio-postgres"] }
regex = "1.4.1"
lazy_static = "1.4.0"
humantime = "2.0.1"
derivative = "2.1.1"
env_logger = "0.8.1"
simple-process-stats = "0.2.0"
mobc = { version = "0.5.12", features = ["tokio"] }
mobc-postgres = "0.5.0"
tokio-postgres = { version = "0.5.5", features = ["with-chrono-0_4"] }
rmp-serde = "0.14.3"
reqwest = { version = "0.10.6", features = ["json"] }
rand = "0.7.3"

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"

[[bin]]
name = "recent-messages2"
path = "src/main.rs"
