[Unit]
Description=Recent messages buffer service, version 2
After=postgresql.service

[Service]
Type=simple
Restart=always
User=recent_messages
Group=recent_messages
Environment=RUST_LOG=twitch_irc=debug,recent_messages2=debug,info
WorkingDirectory=/opt/recent-messages2
ExecStart=/opt/recent-messages2/target/release/recent-messages2 --config config.prod.toml
RuntimeDirectory=recent-messages2
RuntimeDirectoryMode=0777
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
